


*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-size: 22px;
}

body{
    width: 100%;
 }

#header {
    height: 15vh;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#logo{
    width: 18vw;
    display: flex;
    align-items: center;
    justify-content: center;
    /*background-color: beige;*/

}
#logo img{
    height: 15vh;
}

nav{
    width: 40vw;
}

nav ul{
    display: flex;
}

nav ul li{
    margin-left: 50px;


}

nav li a{
    text-transform: uppercase;
    letter-spacing: 0.15em;
    position: relative;
    color: white;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

nav li a:after{
  content: "";
  display: block;
  height: 3px;
  left: 50%;
  position: absolute;
  background: #920D0D;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

nav li a:hover:after{
    width: 100%; 
    left: 0; 
}


nav li a:hover{
    color: #920D0D;
    font-weight: 600;
}

nav li a:active{
    color: #920D0D;
    font-weight: 600;
    text-decoration-line: underline; 
}

.faixa{
    height: 2vh;
    width: 100%;
    background-color: #920D0D;
}

.banner{
    background-color: gray;
    width: 100%;
    height: 30vh;
}

.card-cars{
    display: flex;
    justify-content: center;
}

.container-card-cars{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 15px;
}

.card-content, .card-content1{
    background-color: #D9D9D9;
    width: 23%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    
}

.card-content:hover, .card-content1:hover{
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
    transition: .7s;
    background-color: #2D2B2B;
    cursor: pointer;
}

.card{
    width: 95%;
    height: 95%;
    background-color: #ABABAB;
    border-radius: 5px;
}

.img-card{
    width: 100%;
    height: 70%;
}

.btn-card{
    background-color: #920D0D;
    width: 150px;
    height: 50px;
    border: none;
    color: white;
    border-radius: 3px;
}

.btn-card:hover{
    border: #ABABAB 2px solid;
    cursor: pointer;
}

.contact{
    display: flex;
    justify-content: center;
    height: 100%;
    margin-top: 40px;
    margin-bottom: 40px;

}
.container-card-contact{
    width: 60%;
    height: 500px;
    padding: 10px;
    background-color: #2D2B2B;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

.contact-left{
    color: white;
width: 48%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.contact-right{
width: 48%;
color: white;
padding: 25px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.contact-center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 3%;
}

h2{
    font-size: 22px;
}

hr{
    background-color: #920D0D;
    color: #920D0D;
    width: 5px;
    height: 400px;
    border: none;
    border-radius: 10px;
}


input[type="text"]{
    margin-top: 3px;
    width: 100%;
    height: 32px;
    border-radius: 5px;
    margin-bottom: 15px;
}

input[type="text"]:hover{
    border: solid 4px #920D0D;
}

textarea{
    width: 100%;
    height: 100px;
    border-radius: 5px;
}

textarea:hover{
    border: solid 4px #920D0D;
}

.center-btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 5px;
}

footer {
    background-color: #2D2B2B;
    width: 100%;
    height: 250px;
}

.atendimento {
    width: 33%;
}

.horarios {
    width: 30%;
    order: -1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.horarios p:nth-child(even) {
    font-weight: 700;
    text-decoration: underline #920D0D;
}

.horarios p:nth-child(odd) {
    margin-bottom: 10px;
}

.social {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.social img {
    width: 50px;
    height: 50px;
    padding: 10px;
}

.rodape {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.rodape h2 {
    font-family: "Roboto", sans-serif;
    text-align: center;
    margin-bottom: 15px;
    font-size: 30px;
    color: #ABABAB;
}

.rodape p {
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

.bold {
    font-weight: bold;
}

.red{
    color: #920D0D;
    margin-bottom: 4px;
    font-size: 30px;
}

.card-desc{
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 8px;
    line-height: 20px;
    padding: 10px;
}

.card-title{
    display: flex;
    justify-content: center;
}

.center{
    justify-content: center;
    align-items: center;
}


.modal, .modal1{
    position: absolute;
    background-color: rgba (255, 255, 255, 0.6);
    display: flex;
    justify-content: center;
   align-items: start;

    opacity: 0;
    pointer-events: none;
}

.modal-active{
    opacity: 1;
    pointer-events: all;
}

.modal-content{
    

    width: 70%;
    height: 80vh;
    position: relative;
    background-color: #dedcdc;
    padding: 20px;
}

.close, .close1{
    color: black;
    position: absolute;
    top: 0;
    right: 24px;
    font-size: 48px;
    cursor: pointer;
}