* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-size: 22px;
}

body {
    width: 100%;
}

#header {
    height: 15vh;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#logo {
    width: 18vw;
    display: flex;
    align-items: center;
    justify-content: center;
    /*background-color: beige;*/

}

#logo img {
    height: 15vh;
}

nav {
    width: 40vw;
}

nav ul {
    display: flex;
}

nav ul li {
    margin-left: 50px;


}

nav li a {
    text-transform: uppercase;
    letter-spacing: 0.15em;
    position: relative;
    color: white;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

nav li a:after {
    content: "";
    display: block;
    height: 3px;
    left: 50%;
    position: absolute;
    background: #920D0D;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

nav li a:hover:after {
    width: 100%;
    left: 0;
}


nav li a:hover {
    color: #920D0D;
    font-weight: 600;
}

nav li a:active {
    color: #920D0D;
    font-weight: 600;
    text-decoration-line: underline;
}

.faixa {
    height: 2vh;
    width: 100%;
    background-color: #920D0D;
}

.banner {
    background-color: gray;
    width: 100%;
    height: 30vh;
}

.card-cars {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.container-card-cars {
    width: 95%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
   
}

.card-content {
    background-color: #D9D9D9;
    width: 19%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 1%;
}

.card-marca, .card-resume, .card-ano{
    font-size: 14px;
}

.card-content:hover {
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
    transition: .7s;
    background-color: #2D2B2B;
    cursor: pointer;

}

.card {
    width: 95%;
    height: 95%;
    background-color: #ABABAB;
    border-radius: 5px;
}

.img-card {
    width: 100%;
    height: 70%;
}

.btn-card {
    background-color: #920D0D;
    width: 100%;
    padding: 20px;
    border: none;
    color: white;
    border-radius: 3px;
}

.btn-card:hover {
    border: #ABABAB 2px solid;
    cursor: pointer;
}

.contact {
    display: flex;
    justify-content: center;
    height: 100%;
    margin-top: 40px;
    margin-bottom: 40px;

}

.container-card-contact {
    width: 60%;
    height: 500px;
    padding: 10px;
    background-color: #2D2B2B;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

.contact-left {
    color: white;
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-right {
    width: 48%;
    color: white;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 3%;
}

h2 {
    font-size: 22px;
}

hr {
    background-color: #920D0D;
    color: #920D0D;
    width: 5px;
    height: 400px;
    border: none;
    border-radius: 10px;
}


input[type="text"] {
    margin-top: 3px;
    width: 100%;
    height: 32px;
    border-radius: 5px;
    margin-bottom: 15px;
}

input[type="text"]:hover {
    border: solid 4px #920D0D;
}

textarea {
    width: 100%;
    height: 100px;
    border-radius: 5px;
}

textarea:hover {
    border: solid 4px #920D0D;
}

.center-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 5px;
}

footer {
    background-color: #2D2B2B;
    width: 100%;
    height: 250px;
}

.atendimento {
    width: 33%;
}

.horarios {
    width: 30%;
    order: -1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.horarios p:nth-child(even) {
    font-weight: 700;
    text-decoration: underline #920D0D;
}

.horarios p:nth-child(odd) {
    margin-bottom: 10px;
}

.social {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.social img {
    width: 50px;
    height: 50px;
    padding: 10px;
}

.rodape {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.rodape h2 {
    font-family: "Roboto", sans-serif;
    text-align: center;
    margin-bottom: 15px;
    font-size: 30px;
    color: #ABABAB;
}

.rodape p {
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

.bold {
    font-weight: bold;
}

.red {
    color: #920D0D;
    margin-bottom: 4px;
    font-size: 30px;
}

.card-desc {
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 8px;
    line-height: 15px;
    padding: 5px;
}

.card-title {
    display: flex;
    justify-content: center;
}

.center {
    justify-content: center;
    align-items: center;
}




.modal-active {
    opacity: 1;
    pointer-events: all;
}


.modal-info {
    display: flex;
    flex-direction: column;

}

.modal-info img {
    max-width: 700px;
}

.close {
    color: black;
    position: relative;
    top: 200;
    right: 0;
    font-size: 70px;
    cursor: pointer;
    z-index: 100;
}



.bottom {
    width: 100%;
    margin-top: 25px;
    display: flex;
    justify-content: center;
}



.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;

}

.modal.open {
    display: flex;
}

.modal-close {
    display: flex;
    justify-content: end;
    margin-right: 12px;
    width: 100%;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    width: 50%;
    height: 60%;
    flex-direction: column;
}

.modal-image img {
    max-width: 100%;
}

.modal-info {
    display: flex;
    max-width: 100%;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-col {
    display: flex;
    align-items: start;
    justify-content: center;
}


.main {
    display: block;
    width: 400px;
    padding: 10px;
    background-color: rgb(73, 45, 45);
    box-shadow: 1px 1px 10px 5px gray;

}

.main img {
    width: 400px;
    height: 350px;
    
  
}

.thumbs {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.thumbs-li {
    width: 70px;
    height: 50px;
    padding: 10px;
    background-color: #2D2B2B;
    margin: 1%;
    box-shadow: 1px 1px 10px 5px gray;

}

.thumbs-li img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    
}